body {
    font-family: Iceland, 'Segoe UI', sans-serif;
    text-align: center;
    background: #030d18;
    color: #6380a2;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 920px;
}

canvas {
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    cursor: default;
}

a {
    color: #6380a2;
}

p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    max-width: 920px;
    margin: 0 auto;
    padding: 10px 50px;
}

p.instruct {
    color: #dcc421;
    font-size: 1.2em;
}

p.instruct-2 {
    color: #a09969;
    font-size: 1em;
}

span.space {
    display: inline-block;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #da5b0e;
    padding: 2px 5px;
}

.input {
    color: #da5b0e;
}


#sound {
    right: 10px;
    bottom: 10px;
    position: absolute;
}