body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background: #030d18;
    color: #2b3f56;
}

a {
    color: #2b3f56;
}

#game-wrapper {
    width: 100%;
    padding-top: 63.043478260869565217391304347826%;
    position: relative;
}

canvas {    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}